@import "./reset.css";

.menu-item {
  width: 100%;
} 

div.container {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background-color: #28282a;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: 1px solid black;
  box-shadow: 0px -8px 38px black;
  position: sticky;
  top: 0;
  z-index: 10000;
  transition: top 0.3s;
}

.wrapper {
  max-width: 1200px;
}

.head_innerWrapper {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head_logo {
  width: 70px;
}

.head_menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.head_menu-wrapper {
  display: none;
  width: 100%;
  max-width: 360px;
  min-height: fit-content;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fff;
}

.head_menu-wrapper:hover {
  display: block;
}

.menuElement {
  display: none;
}

.activeMenu {
  display: block;
}

.activeMenuLink {
  background-color: lightgrey;
}

.head_menu-item {
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

.head_menu-item a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 16px;
}

.head_menu-item:hover {
  cursor: pointer;
  background-color: lightgrey;
}

.head_menu-item {
  display: flex;
  justify-content: flex-start;
  height: 50px;
}

.menu-icon {
  font-size: 24px;
  color: black;
  transition: all 0.3s ease-in;
}

.menu-icon:hover {
  /* display: none; */
  /* animation: hideShow 0.3s; */
  transform: rotate(90deg);
}

.menu-icon:hover + nav {
  display: block;
}

@keyframes hideShow {
  0% {
    display: block;
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@media (min-width: 768px) {
  .head_logo {
    width: 100px;
  }

  .head_menu {
    flex-direction: row;
    height: 100%;
    max-width: 100%;
  }

  .head_menu-wrapper {
    display: block;
    position: static;
    width: fit-content;
    max-width: unset;
    height: 100%;
  }

  .head_menu-item {
    height: 100%;
  }

  .menu-icon {
    display: none;
  }
}

.thumb {
  width: 100%;
}

img.menu-item {
  width: 100%;
  display: block;
}

img[src] {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img:not([src]) {
  visibility: hidden;
}

@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.5);
  text-decoration: none;
  z-index: 10000;
}

.go-to-top,
.go-to-top:hover,
.go-to-top:focus,
.go-to-top:active {
  outline: none;
}

.go-to-top span {
  transform: rotate(-90deg);
  color: white;
  font-size: 24px;
}
